.new-background-color {
    --background: #b31117;
}

.header-title {
    color: #fff;
    text-align: center
}

.badge-color {
    --background: #b31117;
    color: white;
}
.header-arrow{

    color: white;
}
.address-Card{

    background :#ffffff;
    padding: 15px;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
}
.address-Card h2{
    font-size: 18px;
    font-weight:600;
    padding-top: 0;
    margin-top:0;
    color: #000000;

}

.content-Card{
    padding: 0px 0 0 0;
    margin-top:0;
    color:#000000;
    font-weight:250;
    font-size: 13px;
}
.btn-view{    color: #fff;
    font-weight: bold;
    font-size: 14px;
    --border-radius: 2px;
    display: inline-block;
    margin: 0;
    height: auto;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 30px;
    --padding-end: 30px;
    --background: #b31117;
    --background-activated:#b31117;
  }
  .text-right{
      text-align: right;
  }

