<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="header-title">MY ADDRESSES</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon class="header-arrow" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="text-right">
    <ion-button class="btn-view" (click)="editAddress()">
      Edit Address
    </ion-button>
  </div>
  <ion-card class="address-Card">
    <h2> Billing Address</h2>
    <ion-label>{{billingAddressFirstName }} {{billingAddressLastName}}</ion-label><br>
    <ion-card-content class="content-Card">
      <ion-label> Company: {{billCompanyName}} </ion-label><br>
      <ion-label> Address: {{billAddress}} </ion-label><br>
      <ion-label> City: {{billCity}} </ion-label><br>
      <ion-label> Post Code: {{billPostCode}} </ion-label><br>
      <ion-label> Country: {{billCountry}} </ion-label><br>
      <ion-label> Phone: {{billPhone}} </ion-label><br>
      <ion-label> Email: {{billEmail}} </ion-label><br>
    </ion-card-content>
  </ion-card>
  <ion-card class="address-Card">
    <h2> Shipping Address</h2>
    <ion-label>{{shippingAddressFirstName }} {{shippingAddressLastName}}</ion-label><br>
    <ion-card-content class="content-Card">
      <ion-label> Company: {{shipCompanyName}} </ion-label><br>
      <ion-label> Address: {{shipAddress}} </ion-label><br>
      <ion-label> City: {{shipCity}} </ion-label><br>
      <ion-label> Post Code: {{shipPostCode}} </ion-label><br>
      <ion-label> Country: {{shipCountry}} </ion-label><br>
      <ion-label> Phone: {{shipPhone}} </ion-label><br>
      <ion-label> Email: {{shipEmail}} </ion-label><br>
    </ion-card-content>
  </ion-card>
</ion-content>