<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="header-title">Wishlist</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge class="badge-color" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <ion-list class="cart-item-content">
    <ion-item class="cart-item-info" *ngFor="let products of wishListProductsArray">
      <ion-row class="cart-item-grid">
        <ion-col size="3">
          <div class="cart-item-info-media">
            <img src="{{products.image_url}}">
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="cart-item-info-content">
            <h2>{{products.slug}}</h2>
            <h4>{{products.price}}</h4>
            <div class="star-rating">
              <span style="width:50%"></span>
            </div>
            <ion-button class="move-cart-btn">
                Move to Cart
            </ion-button>
            <ion-button class="move-cart-btn" (click)="removeAction(products)">
              Remove from Wishlist
          </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>