.new-background-color {
    --background: #b31117;
}

.header-title {
    color: #fff;
    text-align: center
}

.badge-color {
    --background: #b31117;
    color: white;
}
.star-rating{
    font-family: "FontAwesome";
    font-size: 18px;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 78px;
  }
  
  .star-rating{
    margin: 10px 0;    
  }
  
  .star-rating::before{
    color: #656c72;
    content: "\2605\2605\2605\2605\2605";
    float: left;
    font-size:17px;
    left: 0;
    letter-spacing: 2px;
    position: absolute;
    top: 0;
  }
  
   .star-rating span{
    float: left;
    left: 0;
    overflow: hidden;
    padding-top: 1.5em;
    position: absolute;
    top: 0;
  }
   .star-rating span::before{
    color:#fab902;
    content: "\2605\2605\2605\2605\2605";
    font-size: 17px;
    left: 0;
    letter-spacing: 2px;
    position: absolute;
    top: 0;
  }
  
   .star-rating .rating{
    display: none;
  }


  ion-content.home-content {
    background: #f4f8fc;
    --background: var(--ion-background-color,#f4f8fc)
}
.cart-item-content{
  padding: 20px;
  background: #fff;
  margin-bottom: 10px;
}

.cart-item-info{
  --padding-start:0px;
  --inner-padding-end: 0px;
}

.cart-item-info-content h2{ 
  color: #213051;
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
  padding-top: 0;
}

.cart-item-info-content h4 {
  color: #a0a7b5;
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.move-cart-btn{
  background: #b31117;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  font-size: 13px;
  --background: #b31117;
  --background-focused: #b31117;
  --box-shadow: none;
  --background-activated: transparent;
}
