
:host {
    ion-label.label {
        display: block;
        padding-top: 20px;
        margin-left: 0px;
        font-size: 20px;
        font-weight: 600;
    }

    .item-interactive.item-has-focus {
        --highlight-background:transparent;
        height: auto;

   }

    .text {
        margin-left: 0px;
        display: block;
        margin-top: -10px;
        color: lightgray;
        font-size: 14px;
        font-weight: 500;

    }

    button.signUp {
        float: right;
        margin-top: -44px;
        background: white;
        font-size: 14px;
        outline: none;
        color: #b31117;
        font-weight: 500;
    }

    button.showBtn {
        margin-right: 10px;
        background: #003a54;
        color: white;
        height: 20px;
        position: absolute;
        right: 5px;
        z-index: 9;
        font-weight: 500;
        border-radius: 2px;
        font-size: 12px;
    }

    ion-button.Login {
        --border-radius: 2px;
        margin-top: 30px;
        height: 40px;
        --background: #b31117;
        color: white;
        width: 100%;
        font-weight: 600;
        --padding-start: 0px !important;
        --background-activated: var(--ion-color-shade, none);
        --background-focused: var(--background);
    
    }

    ion-input.username {
        border: 0.5px solid gray;
    }

    ion-input.password {
        border: 0.5px solid gray;
    }

    .user-input,
    .password-input {
        --inner-border-width: 0px 0px 0px 0px;
    }

    .user-input,
    .password-input  {
        --inner-border-width: 0px 0px 0px 0px;
        margin-right: 0px;
        margin-bottom: 8px;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --border-color: #fff;
        --padding-end: 0;
    }
    .user-input .item-highlight,
    .password-input .item-highlight {
        background:transparent !important;
    }
    
    .username,
    .password{--padding-start: 8px;}
    ion-item.submit-btn {
        --padding-start: 0;
        --inner-padding-end: 0;
    }
    .forgot-password {
        margin-left: auto;
        margin-right: auto;
        display: block;
        background: none;
        outline: none;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    .validate-msg-alert {
        color: #FF545E;
        font-size: 14px;
        text-align: left;
        padding: 0px 0;
        margin-bottom: 10px;
    }
}