<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title class="header-title">Edit Your Address</ion-title>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="closeModal()">
                <ion-icon class="back-arrow" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div [formGroup]="editAddress">
        <h2 class="heading-margin"> Billing Address</h2>
        <ion-item class="input-form-control" lines="none">
            <ion-input placeholder="Title" formControlName="account_bill_title" value="{{account_bill_title}}">
            </ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input placeholder="First Name" formControlName="account_bill_first_name"
                value="{{account_bill_first_name}}" ></ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input placeholder="Last Name" formControlName="account_bill_last_name" value="{{account_bill_last_name}}" >
            </ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input placeholder="Company Name" formControlName="account_bill_company_name" value="{{account_bill_company_name}}"></ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input placeholder="Address" formControlName="account_bill_adddress_line_1" value="{{account_bill_adddress_line_1}}" >
            </ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input placeholder="City" formControlName="account_bill_town_or_city" value="{{account_bill_town_or_city}}" >
            </ion-input>
        </ion-item>

        <ion-item class="input-form-control" lines="none">
            <ion-input placeholder="Post Code" formControlName="account_bill_zip_or_postal_code" value="{{account_bill_zip_or_postal_code}}" >
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-input  formControlName="account_bill_select_country"></ion-input>
            <ion-select  #S (ionChange)="FilterItems(S.value)">
                <ion-select-option *ngFor="let c of countryArray" value="{{c.code}}">{{c.name}} - {{c.code}}
                </ion-select-option>
            </ion-select>
        </ion-item>
     <ion-item  class="input-form-control" lines="none">
            <ion-input formControlName="account_bill_phone_number" placeholder="Phone" value="{{account_bill_phone_number}}" >
            </ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input formControlName="account_bill_email_address" placeholder="Email" value="{{account_bill_email_address}}" >
            </ion-input>
        </ion-item>
        <h2 class="heading-margin"> Shipping Address</h2>
        <ion-item class="input-form-control" lines="none">
            <ion-input formControlName="account_shipping_title" placeholder="Shipping Title" value="{{account_shipping_title}}" ></ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input formControlName="account_shipping_first_name" placeholder="First Name" value="{{account_shipping_first_name}}"></ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input formControlName="account_shipping_last_name" placeholder="Last Name" value="{{account_shipping_last_name}}"></ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input formControlName="account_shipping_company_name" placeholder="Company Name" value="{{account_shipping_company_name}}" ></ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input formControlName="account_shipping_adddress_line_1" placeholder="Address" value="{{account_shipping_adddress_line_1}}" >
            </ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input formControlName="account_shipping_town_or_city" placeholder="City" value="{{account_shipping_town_or_city}}">
            </ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input formControlName="account_shipping_zip_or_postal_code" placeholder="Postal Code" value="{{account_shipping_zip_or_postal_code}}">
            </ion-input>
        </ion-item>
        <ion-item class="input-form-control">
                <ion-input  formControlName="account_shipping_select_country"></ion-input>
                <ion-select  #B (ionChange)="FilterItemsShipping(B.value)">
                    <ion-select-option *ngFor="let c of countryArray" value="{{c.code}}">{{c.name}} - {{c.code}}
                    </ion-select-option>
                </ion-select>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input formControlName="account_shipping_phone_number" placeholder="Phone" value="{{account_shipping_phone_number}}" >
            </ion-input>
        </ion-item>
        <ion-item class="input-form-control" lines="none">
            <ion-input formControlName="account_shipping_email_address"  placeholder="Phone" value="{{account_shipping_email_address}}">
            </ion-input>
        </ion-item>
    </div>
</ion-content>
<ion-footer>
    <div class="text-right">
        <ion-button class="btn-view" (click)="onFormSubmit(editAddress.value)">
            Update Address
        </ion-button>
    </div>
</ion-footer>