.back-arrow {
    color: #fff;
  }
  .header-title {
    color: #fff;
    text-align: center
  }
  .new-background-color {
    --background: #b31117;
  }
  
  .btn-view{    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    --border-radius: 2px;
    display: inline-block;
    margin: 0;
    height: auto;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 30px;
    --padding-end: 30px;
    --background: #b31117;
    --background-activated:#b31117;
  }
  .heading-margin{
    padding-left: 15px;
  }
  .text-right{
    text-align: center;
  }
  .address-Card{

    background :#ffffff;
    padding: 15px;
    -webkit-margin-start: 10px;
    margin-inline-start: 10px;
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
}
.profile-media{margin:0 auto 18px auto;}
.input-form-control {
  border-bottom: 1px solid #d9e1e8;
  margin-bottom: 10px;
  color: #213051;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding: 10px;
  --padding-top: 10px;
  --padding-end: 8px;
  --padding-bottom: 10px;
  --padding-start: 10px;
}