:host {

.new-background-color {
--background: #b31117;
}

.header-title{color:#fff; text-align: center}
.class-search {
--background: white;
}

.searchbar-input{
    --border-radius:2px !important;
}
.badge-color{
--background: #b31117;
color: white;
}
.filters {
ion-col {
text-align: center;
font-size: 20px;
line-height: 20px;

ion-icon {
color: #ccc;
}

&.col-with-arrow {
display: flex;
justify-content: center;
align-items: center;

}
}

p {
color: black;
margin: 0;
font-size: 15px;
line-height: 15px;
--background: red;
}

.selected {
font-weight: 10px;
}
}

.container {
::-webkit-scrollbar {
display: none;
}

.category-scroll {
overflow: auto;
background-color: #b31117;
white-space: nowrap;
padding: 10px 12px 10px 12px;
}
}
.heart-icon{
    background: none;
    --background: transparent;
    --background-focused: transparent;
    color: #b31117;
    padding: 0;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    --padding-start: 0;
    --padding-end: 0;

}
.category-span {
margin-bottom: auto;
margin-left: 5px;
color: white;
background: #841014;
padding: 8px 10px;
border-radius: 2px;
font-weight: 600;
font-size: 12px;
}



ion-badge {
color: #fff;
position: absolute;
top: 0px;
right: 0px;
border-radius: 100%;
}
.category-block {
margin-bottom: 4px;
}

.category-banner {
border-left: 8px solid var(--ion-color-secondary);
background: var(--ion-color-light);
height: 40px;
padding: 10px;
font-weight: 500;
}
.card-title{
font-size: 12px;
font-weight: 300;
}
ion-slides {
// background: var(--ion-color-primary);
color: #fff;

ion-slide { 
align-items: start;
text-align: center;

.slide-content {
// padding: 0px 14%;



.text p {
margin-top: 0;
margin-bottom: 10px;
}
}
}
}
}

ion-content.home-content {
    background: #f4f8fc;
    --background: var(--ion-background-color,#f4f8fc)
}

.heading-title{    color: #213051;
font-size: 16px;
font-weight: 600;
padding: 10px 20px 10px 0;
margin-bottom: 0;
display: inline-block;}

ion-card.product-card {
    -webkit-margin-start: 0;
    margin-inline-start: 0px;
    background: #fff;
    border-radius: 3px;
    --background: var(--ion-item-background,#fff);
    box-shadow: none;
    margin-bottom: 0;
    min-height: 200px;
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    margin-bottom: 10px;
}
.product-card-media{ -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px; padding-top: 0;
    padding-bottom: 0;   height: 200px;
    overflow: hidden;}
.product-card-media img{
    width: 100% !important;
    max-height: none !important;
    max-width: none !important;   }
.product-title{    color: #656c72;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;}
.product-content{padding: 0;}

.Products-slider {
    height: auto; /* slider height you want */
    }
    .star-rating{
        font-family: "FontAwesome";
        font-size: 16px;
        height: 20px;
        overflow: hidden;
        position: relative;
        width: 78px;
      }
      
      .star-rating{
        margin: 10px auto;    
      }
      
      .star-rating::before{
        color: #656c72;
        content: "\2605\2605\2605\2605\2605";
        float: left;
        font-size:14px;
        left: 0;
        letter-spacing: 2px;
        position: absolute;
        top: 0;
      }
      
       .star-rating span{
        float: left;
        left: 0;
        overflow: hidden;
        padding-top: 1.5em;
        position: absolute;
        top: 0;
      }
       .star-rating span::before{
        color:#fab902;
        content: "\2605\2605\2605\2605\2605";
        font-size: 14px;
        left: 0;
        letter-spacing: 2px;
        position: absolute;
        top: 0;
      }
      
       .star-rating .rating{
        display: none;
      }

      .product-price span{    color: #656c72;
        font-size: 16px;
        font-weight: 600;
        }

        .add-Wishlist{
          position: absolute;
          top: 0;
          right:2px;
      }

      .add-Wishlist  img{height: 16px;}