<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="header-title" (click)="RefreshPage()">Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge class="badge-color" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="new-background-color">
    <ion-searchbar class="class-search" (click)="openSearchPage()" placeholder="Filter Schedules"></ion-searchbar>
  </ion-toolbar>
  <div class="container">
    <div *ngIf="categories.length > 0" class="category-scroll" scrollX="true">
      <span class="category-span" *ngFor="let category of categories"
        (click)="categoryClick(category.slug,category.name)">{{category.name}}</span>
    </div>
  </div>
</ion-header>

<ion-content class="home-content" padding>
  <div>
    <ion-slides *ngIf="bannerList && bannerList.length" autoplay="5000" loop="true" speed="500" class="slides"
      pager="true">
      <ion-slide *ngFor="let cat of bannerList">
        <div class="slide-content" *ngIf="cat !== ''; else placeholder">
          <img class="image-wrap-slider" src="https://www.niletechinnovations.com/eq8tor{{cat.img_url}}">
        </div>
        <ng-template #placeholder><img src="../../assets/imgs/logo.png"></ng-template>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-row no-padding>
    <ion-col class="heading-title">
      Latest Items
    </ion-col>
  </ion-row>

  <ion-slides [options]="sliderConfig" class="Products-slider">
    <ion-slide *ngFor="let cat of latestProducts; let i = index">
      <div class="slide-content">
        <ion-card class="product-card">
            <div *ngIf="cat.post_image_url === ''"> 
                  <ion-card-content class="product-card-media">
                    <img height="150" src="../../assets/imgs/icon.png">
                  </ion-card-content>
          </div>
          <div *ngIf="!cat.post_image_url === ''">
              <ion-card-content class="product-card-media">
                  <img (click)="goToProductDetail(cat.post_slug)" height="150"
                    src="https://www.niletechinnovations.com/eq8tor{{cat.post_image_url}}">
                </ion-card-content>
          </div>
          <div>
            <div class="add-Wishlist" *ngIf="!wishListAdded || cat._wishlist == false" (click)="like(cat.id,i)">
              <img src="../../assets/imgs/Wishlist.svg" >
            </div>
          </div>
          <div class="add-Wishlist" *ngIf="wishListAdded || cat._wishlist == true">
            <img src="../../assets/imgs/Wishlisted.svg" >
          </div>
        </ion-card>
        <ion-card-content class="product-content">
          <ion-card-title class="product-title">
            {{cat.post_title}}
            <div class="star-rating">
              <span style="width:50%"></span>
            </div>
            <div class="product-price">
              <span>${{cat.post_price}}</span>
            </div>
          </ion-card-title>
        </ion-card-content>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-row no-padding>
    <ion-col class="heading-title">
      Featured Items
    </ion-col>
  </ion-row>

  <ion-slides [options]="sliderConfig" class="Products-slider">
    <ion-slide *ngFor="let cat of featuredItems; let i = index">
      <div class="slide-content">
        <ion-card class="product-card">
            <div *ngIf="cat.post_image_url === ''"> 
                <ion-card-content class="product-card-media">
                  <img height="150" src="../../assets/imgs/icon.png">
                </ion-card-content>
        </div>
        <div *ngIf="!cat.post_image_url === ''">
            <ion-card-content class="product-card-media">
                <img (click)="goToProductDetail(cat.post_slug)" height="150"
                  src="https://www.niletechinnovations.com/eq8tor{{cat.post_image_url}}">
              </ion-card-content>
        </div>
          <div>
            <div class="add-Wishlist" *ngIf="!wishListAdded || cat._wishlist == false" (click)="likeFeatured(cat.id,i)">
              <img src="../../assets/imgs/Wishlist.svg" >
            </div>
          </div>
          <div class="add-Wishlist" *ngIf="wishListAdded || cat._wishlist == true">
            <img src="../../assets/imgs/Wishlisted.svg" >
          </div>
        </ion-card>
        <ion-card-content class="product-content">
          <ion-card-title class="product-title">
            {{cat.post_title}}
          </ion-card-title>
          <div class="star-rating">
            <span style="width:50%"></span>
          </div>
          <div class="product-price">
            <span>${{cat.post_price}}</span>
          </div>
        </ion-card-content>
      </div>
    </ion-slide>
  </ion-slides>


  <!-- <div *ngIf="users && users.length > 0">
          <ion-list *ngIf="users.length === 0">
              <ion-item *ngFor="let user of [1,1,1,1,1,1,1,1,1,1,1,1,1]">
                <ion-label>
                  <ion-skeleton-text width="40%" animated></ion-skeleton-text>
                  <ion-skeleton-text width="80%" animated></ion-skeleton-text>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="textToSearch.length > 0">
              <ion-item *ngFor="let user of users | filter:textToSearch">
                <ion-label>
                  <h3>{{user.name}}</h3>
                  <h5>{{user.email}}</h5>
                </ion-label>
              </ion-item>
            </ion-list>
      </div> -->
</ion-content>