.new-background-color {
    --background: #b31117;
}

.header-title {
    color: #fff;
    text-align: center
}

.badge-color {
    --background: #b31117;
    color: white;
}
.star-rating{
    font-family: "FontAwesome";
    font-size: 18px;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 78px;
  }
  
  .star-rating{
    margin: 10px auto;    
  }
  
  .star-rating::before{
    color: #656c72;
    content: "\2605\2605\2605\2605\2605";
    float: left;
    font-size:17px;
    left: 0;
    letter-spacing: 2px;
    position: absolute;
    top: 0;
  }
  
   .star-rating span{
    float: left;
    left: 0;
    overflow: hidden;
    padding-top: 1.5em;
    position: absolute;
    top: 0;
  }
   .star-rating span::before{
    color:#fab902;
    content: "\2605\2605\2605\2605\2605";
    font-size: 17px;
    left: 0;
    letter-spacing: 2px;
    position: absolute;
    top: 0;
  }
  .header-arrow{

    color: white;
}
   .star-rating .rating{
    display: none;
  }

.orders-content{
  background: #f4f8fc;
    --background: var(--ion-background-color,#f4f8fc);
}

  .orders-id {
    border: 2px dotted #FFC107;
    background: #fff0c4;
    width: 100%;
    display: inline-block;
    padding: 10px;
}
.orders-id h2{font-size:14px; font-weight: 600; margin: 0;padding: 0; color:#4e5b6a;}

ion-list.orders-list-content {
  margin-bottom: 10px;
}

.orders-item-content{    
  padding: 10px;
  background: #fff;
border: none}

.button-status{text-align: right}

.orders-date h2{color: #213051;
  font-size: 14px;
  font-weight: 600;
  padding-top: 0;
  margin-top: 0;}

.orders-date p{    color: #213051;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;}

  .orders-status h2{color: #213051;
    font-size: 14px;
    font-weight: 600;
    padding-top: 0;
    margin-top: 0;}
  
  .orders-status p{    color: #213051;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;}

    .orders-price h2{color: #213051;
      font-size: 14px;
      font-weight: 600;
      padding-top: 0;
      margin-top: 0;}
    
    .orders-price p{    color: #213051;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;}

      
    .btn-view{    color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
      --border-radius: 2px;
      display: inline-block;
      margin: 0;
      height: auto;
      --padding-top: 15px;
      --padding-bottom: 15px;
      --padding-start: 30px;
      --padding-end: 30px;
      --background: #b31117;
      --background-activated:#b31117;
    }

    