<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="header-title">Orders</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <!-- <ion-badge class="badge-color" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge> -->
        <ion-icon slot="icon-only" name="cart" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="orders-content">
  <ion-grid *ngFor="let order of ordersArray" class="orders-list-content">
    <ion-row class="orders-item-content" >
      <ion-col size="6">
        <div class="orders-id">
          <h2>Order Id: #{{order._post_id}}</h2>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="button-status">
          <ion-button class="btn-view" (click)="viewOrderDetails(order)">
            VIEW
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="orders-item-content">
      <ion-col size="4">
        <div class="orders-date">
          <h2>Order Date</h2>
          <p>{{order._order_date}}</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="orders-status">
          <h2>Order status</h2>
          <p>{{order._order_status}}</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="orders-price">
          <h2>Order Price</h2>
          <p>{{order._order_currency}} {{order._final_order_total}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>