<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="header-title">Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <!-- <ion-badge class="badge-color" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge> -->
        <ion-icon slot="icon-only" name="cart" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="profile-content">
  <div class="profile-avatar-info">
     <ion-card class="profile-card">
      <ion-card-content class="profile-card-content">
        <div class="profile" *ngIf="!edited">
          <!-- <ion-avatar class="profile-media">
            <img src="{{apiUrl}}{{UrlImage}}">
          </ion-avatar> -->
          <h2>{{name}}</h2>
          <p>{{email}}</p>
          <ion-button class="edit-btn" (click)='editAction()'> {{editButton}} </ion-button>
        </div>
        <div class="profile" *ngIf="edited">
          <ion-avatar class="profile-media">
             <img *ngIf="!fileUrl" src="{{apiUrl}}{{UrlImage}}">
             <!-- <img src="///Users/aayushkatiyar/Library/Developer/CoreSimulator/Devices/0899108A-9867-41D7-A0ED-7BDCB88B51BB/data/Containers/Data/Application/641A3AE1-18BA-445B-B87D-2EF74457786D/tmp/cdv_photo_003.jpg"> -->
          </ion-avatar> 
          <ion-input class="input-form-control" value="name" [(ngModel)]="name"></ion-input>
          <ion-input class="input-form-control" value="email" [(ngModel)]="email"></ion-input>
          <ion-input class="input-form-control" placeholder="Want to change password enter here new password" [(ngModel)]="password"></ion-input>{{password}}
          <ion-input class="input-form-control" value="displayName" [(ngModel)]="displayName"></ion-input>
          <ion-button class="edit-btn" (click)='editAction()'> {{editButton}} </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <!-- <ion-row>
        <ion-col text-center>
          <h3>Image Picker</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="getImages()">Choose Images</ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <!-- More Pinterest floating gallery style -->
          <div class="images">
            <div class="one-image" *ngFor="let img of imageResponse">
              <img src="{{img}}" alt="" srcset="">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="profile-links-info">
    <ion-card class="profile-card">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div class="profile-links-card" (click)="openAddress()">
                <img src="../../assets/imgs/address.svg" height="50">
                <h2>My Address</h2>
            </div>
          </ion-col>
          <ion-col size="6">
              <div class="profile-links-card" >
                  <img src="../../assets/imgs/myorders.svg" height="50" (click)="openOrder()">
                  <h2>My Orders</h2>
                </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>