.new-background-color {
    --background: #b31117;
}

.header-title {
    color: #fff;
    text-align: center
}

.badge-color {
    --background: #b31117;
    color: white;
}


.profile-content{
  background: #f4f8fc;
    --background: var(--ion-background-color,#f4f8fc);
}

.profile-avatar-info{ padding: 10px 0; background: #fff; border: none; margin-bottom: 10px;}

.profile-card{    --background: #fff;
    text-align: center;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;}

.profile-media{margin:0 auto 18px auto;}

.profile h2{color: #213051;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;padding: 12px 0;}
  
  .profile p{    
    color:#213051;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;    
    margin-bottom: 12px;
padding: 10px 0;}
.edit-btn{
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    --border-radius: 2px;
    display: inline-block;
    margin: 0;
    height: auto;
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: 15px;
    --padding-end: 15px;
    --background: #003a54;
      }

      .input-form-control {
        border-bottom: 1px solid #d9e1e8;
        margin-bottom: 10px;
        color: #213051;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        padding: 10px;
        --padding-top: 10px;
        --padding-end: 8px;
        --padding-bottom: 10px;
        --padding-start: 10px;
    }

.profile-links-info{ padding: 10px 0; background: #fff; border: none}
.profile-links-card{border: 1px solid #d0d8e0;
    border-radius: 5px;
    padding: 15px 10px;
    position: relative;}
.profile-links-card h2{color: #213051;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;padding:0;
}
