<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="header-title">Payment</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon class="back-arrow" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [formGroup]="editAddress">
    <ion-item>
      <ion-input placeholder="card number" formControlName="cardNumber">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-select name="Month" formControlName='Month'>
        <ion-select-option value="january">January</ion-select-option>
        <ion-select-option value="february">February</ion-select-option>
        <ion-select-option value="march">March</ion-select-option>
        <ion-select-option value="april">April</ion-select-option>
        <ion-select-option value="may">May</ion-select-option>
        <ion-select-option value="june">June</ion-select-option>
        <ion-select-option value="july">July</ion-select-option>
        <ion-select-option value="august">August</ion-select-option>
        <ion-select-option value="september">September</ion-select-option>
        <ion-select-option value="october">October</ion-select-option>
        <ion-select-option value="november">November</ion-select-option>
        <ion-select-option value="december">December</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select name="Year" formControlName='Year'>
        <ion-select-option value="2020">2020</ion-select-option>
        <ion-select-option value="2021">2021</ion-select-option>
        <ion-select-option value="2022">2022</ion-select-option>
        <ion-select-option value="2023">2023</ion-select-option>
        <ion-select-option value="2024">2024</ion-select-option>
        <ion-select-option value="2025">2025</ion-select-option>
        <ion-select-option value="2026">2026</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="input-form-control" lines="none">
      <ion-input placeholder="card number" formControlName="cvv">
      </ion-input>
    </ion-item>
  </div>
  <ion-button class="btn-view" (click)="sendDetails(editAddress.value)">
    Update Address
</ion-button>
</ion-content>