<ion-content class="home-content">
  <ion-toolbar class="product-single-toolbar">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon class="header-arrow" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div *ngIf="detailsContent.post_image_url === ''">
    <ion-card-content class="product-card-media">
      <img src="../../assets/imgs/icon.png">
    </ion-card-content>
  </div>
  <div *ngIf="!detailsContent.post_image_url == ''" class="product-single-slider">
    <ion-slides autoplay="5000" loop="true" speed="500" class="slides" pager="true">
      <ion-slide *ngFor="let cat of detailImageList">
        <img src="{{apiUrl}}{{cat.url}}">
      </ion-slide>
    </ion-slides>
  </div>
  <div class="product-single-content">
    <h2>
      {{detailsContent.post_title}}
    </h2>
    <div class="star-rating">
      <span style="width:50%"></span>
    </div>
    <!-- <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
      The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of
      Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
    </p> -->
    <p>{{detailsContent.post_content}}
      </p>
  </div>
  <div class="product-single-size">

    
    <h2>Size</h2>
    <div class="size-scroll" scrollX="true">
        <button [ngClass]="{'selected':category.isSelected}"  class="btn-size size-span" *ngFor="let category of sizeArray;let i = index" (click)="btnActivate(i)">{{category.title}}</button>
    </div>
    <ion-button class="btn-size-chart" (click)="openSizeChart()">
      See Size Guide
    </ion-button>
    <button clear (click)="incrementQty()"><ion-icon name="add-circle" ></ion-icon></button>{{qty}}
    <button clear (click)="decrementQty()"><ion-icon name="remove-circle" ></ion-icon></button>

</div>
</ion-content>
<ion-footer class="product-single-footer">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-button *ngIf="!cartAdded" class="addtocart-btn" (click)="addToCart(detailsContent.id,qty)">
          Add To Cart
        </ion-button>
        <ion-button *ngIf="cartAdded" class="addtocart-btn" routerLink="/cart">
            Go To Cart
          </ion-button>
      </ion-col>
      <ion-col size="4">
        <div class="single-product-price">
          <ion-label class="price" (click)="getCartContent()">
            ${{detailsContent.post_price}}
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>