<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="header-title">{{headerTitle}}</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon class="back-arrow" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
    <div *ngIf="subCategoryArray && subCategoryArray.length " class="container">
        <div class="category-scroll" scrollX="true">
          <span class="category-span"
            *ngFor="let subCategory of subCategoryArray" (click)="filterProduct(subCategory.slug)">{{subCategory.name}}</span>
        </div>
      </div>
    <ion-grid>
         <ion-row>
           <ion-col size="6" *ngFor="let products of productsArray">
                <ion-card class="product-card">
                  <div *ngIf="products.post_image_url === ''; else placeholder">
                    <ion-card-content class="product-card-media">
                      <img (click)="goToProductDetail(products.post_slug)"  src="../../assets/imgs/icon.png">
                    </ion-card-content>
                  </div>
                  <ng-template #placeholder>
                    <ion-card-content class="product-card-media" >
                        <img (click)="goToProductDetail(products.post_slug)"  src="https://www.niletechinnovations.com/eq8tor{{products.post_image_url}}">
                    </ion-card-content>
                  </ng-template>
                </ion-card>
                <ion-card-content class="product-content">
                    <ion-card-title class="product-title">
                        {{products.post_title}}
                    </ion-card-title>
                    <div class="star-rating">
                      <span style="width:50%"></span>
                    </div>
                    <div class="product-price">
                      <span>${{products.post_price}}</span>
                    </div>
                </ion-card-content>
           </ion-col>
         </ion-row>
     </ion-grid>
   </ion-content>
