<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="header-title">Order Detail</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon class="back-arrow" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="orders-item-content" >
    <ion-col size="6">
      <div class="orders-id">
        <h2>Order Id: #{{data.order_id}}</h2>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="button-status">
        <div class="orders-id">
          <h2>Payment Method: #{{data._payment_method}}</h2>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="orders-item-content">
    <ion-col size="4">
      <div class="orders-date">
        <h2>Order Date</h2>
        <p>{{data.order_date}}</p>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="orders-status">
        <h2>Order status</h2>
        <p>{{data._order_status}}</p>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="orders-price">
        <h2>Order Price</h2>
        <p>{{data._order_currency}} {{data._order_total}}</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="orders-item-content">
    <ion-col size="6">
      <div class="orders-date">
        <h2>Billing Address</h2>
        <p>{{data.customer_address._billing_address_1}}</p>
        <p>{{data.customer_address._billing_address_2}}</p>
        <p>{{data.customer_address._billing_city}}</p>
        <p>{{data.customer_address._billing_company}}</p>
        <h2>Country: </h2> <p>{{data.customer_address._billing_country}}</p>
        <p>{{data.customer_address._billing_email}}</p>
        <p>{{data.customer_address._billing_first_name}}</p> <p>{{data.customer_address._billing_last_name}}</p>
        <p>{{data.customer_address._billing_phone}}</p>
        <p>{{data.customer_address._billing_postcode}}</p>
        <p>{{data.customer_address._billing_title}}</p>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="orders-date">
        <h2>Billing Address</h2>
        <p>{{data.customer_address._shipping_address_1}}</p>
        <p>{{data.customer_address._shipping_address_2}}</p>
        <p>{{data.customer_address._shipping_city}}</p>
        <p>{{data.customer_address._shipping_company}}</p>
        <h2>Country: </h2> <p>{{data.customer_address._shipping_country}}</p>
        <p>{{data.customer_address._shipping_email}}</p>
        <p>{{data.customer_address._shipping_first_name}}</p> <p>{{data.customer_address._shipping_last_name}}</p>
        <p>{{data.customer_address._shipping_phone}}</p>
        <p>{{data.customer_address._shipping_postcode}}</p>
        <p>{{data.customer_address._shipping_title}}</p>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
