<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="header-title">Cart</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon class="back-arrow" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <ion-list class="cart-item-content">
    <ion-item class="cart-item-info" *ngFor="let item of selectedItems" lines="inset">
      <ion-row class="cart-item-grid">
        <ion-col size="3">
          <div class="cart-item-info-media">
            <img src="{{imgUrl}}{{item.post_image_url}}">
          </div>
          
        </ion-col>
        <ion-col size="8">
          <div class="cart-item-info-content">
            <h2>{{ item.post_title }}</h2>
            <h4>{{ item.count }}x</h4>
            <div class="item-price">
              <!-- {{ item.post_price | currency:'USD':'symbol' }} -->
              <span slot="end" text-right>{{ (item.post_price * item.count) | currency:'USD':'symbol' }}</span>
            </div>
          </div>
        </ion-col>
        <ion-col size="1">
          <ion-button class="close-icon" (click)="removeItem(item)">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
    <div class="btn-content-info">
      <button routerLink="/home" class="btn-add-more">+ ADD MORE ITEMS</button>
    </div>
    <!-- <ion-item>
      Total: <span slot="end">{{ total | currency:'USD':'symbol' }}</span>
    </ion-item> -->
  </ion-list>

  <div class="apply-coupon-section">
    <ion-row class="apply-coupon-content">
      <ion-col size="9">
        <div class="apply-coupon-box">
          <img src="../../assets/imgs/discount.svg" height="40">
          <button class="apply-coupon-btn" ion-button (click)="hideMe = !hideMe">Apply Coupon</button>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="offer-btn-box">
          <button class="offer-btn">Offers</button>
        </div>
      </ion-col>
      <div *ngIf="hideMe" class="apply-coupon-form">
        <ion-item class="password-input">
          <ion-input class="input-form-control" (keydown.space)="$event.preventDefault();" [type]="text"
            placeholder="Apply Coupon">
          </ion-input>
          <button class="showBtn Apply-btn" [name]="Apply" item-right (click)='hideShowPassword()'>Apply</button>
        </ion-item>
      </div>
    </ion-row>
  </div>

 <div class="cart-total-section">
   <h2>Bill Details</h2>    
    <ion-row>
      <ion-col size="6" >
        <div class="cart-Subtotal-text">Cart Sub Total:</div>
      </ion-col>
      <ion-col size="6">
        <div class="cart-Subtotal-value">{{ total | currency:'USD':'symbol' }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
          <div class="cart-discount-text">Offer & Discount:</div>
      </ion-col>
      <ion-col size="6">
        <div class="cart-discount-value">{{ total | currency:'USD':'symbol' }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
          <div class="cart-tax-text">Tax:</div>
      </ion-col>
      <ion-col size="6">
          <div class="cart-tax-value">{{ total | currency:'USD':'symbol' }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
          <div class="cart-shipping-text">Shipping Cost:</div>
      </ion-col>
      <ion-col size="6">
          <div class="cart-shipping-value">{{ total | currency:'USD':'symbol' }}</div>
      </ion-col>
    </ion-row>
    <ion-row class="grand-total">
      <ion-col size="6">
          <div class="cart-total-text">Grand Total:</div>
      </ion-col>
      <ion-col size="6">
          <div class="cart-total-value">{{ total | currency:'USD':'symbol' }}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer class="product-single-footer">
  <ion-button class="checkout-btn" (click)='goToCheckout()'>
    CHECKOUT
  </ion-button>
</ion-footer>