<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label class="label">Forgot Password?</ion-label>
  <p class="p-text">If you have forgotten your password - reset it here.</p>
  <form [formGroup]="forgotForm">
    <div class="view-form">
      <ion-item class="user-input" lines="none">
        <ion-input class="username form-control" placeholder="Email Address" formControlName="forgot_email_id"
          pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
        </ion-input>
      </ion-item>
      <p class="validate-msg-alert"
        *ngIf="forgotForm.controls.forgot_email_id.touched  && (!forgotForm.controls.forgot_email_id.valid)">
        Please enter mandatory field
      </p>
      <ion-item class="password-input" lines="none">
        <ion-input class="password form-control"  (keydown.space)="$event.preventDefault();" [type]="passwordType1" placeholder="New Password"
          formControlName="forgot_password"></ion-input>
        <button class="showBtn" item-right (click)='hideShowPassword1()'>{{passwordIcon1}}</button>
      </ion-item>
      <p class="validate-msg-alert"
        *ngIf="forgotForm.controls.forgot_password.touched  && (!forgotForm.controls.forgot_password.valid)">
        Please enter new password
      </p>
      <ion-item class="password-input" lines="none">
        <ion-input class="password form-control" (keydown.space)="$event.preventDefault();" [type]="passwordType2" placeholder="Retype Password"
          formControlName="forgot_repeat_password"></ion-input>
        <button class="showBtn" item-right (click)='hideShowPassword2()'>{{passwordIcon2}}</button>
      </ion-item>
      <p class="validate-msg-alert"
        *ngIf="forgotForm.controls.forgot_password.touched  && (!forgotForm.controls.forgot_password.valid)">
        Please enter password again
      </p>
      <ion-item class="submit-btn" lines="none">
        <ion-button class="Login" type="submit" [disabled]="!forgotForm.valid" (click)="onFormSubmit(forgotForm.value)">
          Reset My Password</ion-button>
      </ion-item>
    </div>
  </form>
</ion-content>