
:host {
.new-background-color {
    --background: #b31117;
}
.back-arrow {
    color: #fff;
  }
.class-search {
    --background: white;
}
.item-image{
    width: 15%;
    padding: 10px;
}
.filters {

    ion-col {
        text-align: center;
        font-size: 20px;
        line-height: 20px;

        ion-icon {
            color: #ccc;
        }

        &.col-with-arrow {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
   
    p {
        color: black;
        margin: 0;
        font-size: 15px;
        line-height: 15px;
        --background: red;
    }

    .selected {
        font-weight: 10px;
    }
}
.header-title{color:#fff; text-align: center}

}