<ion-header>
    <ion-toolbar class="new-background-color">
    <ion-title class="header-title">Search Products</ion-title>
    <ion-buttons slot="start">
        <ion-button color="dark" (click)="goBack()">
          <ion-icon class="back-arrow" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="new-background-color">
    <ion-searchbar class="class-search" placeholder="Filter Schedules"
      (ionChange)="userSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div *ngIf="users && users.length > 0">
    <ion-list *ngIf="users.length === 0">
      <ion-item *ngFor="let user of [1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-label>
          <ion-skeleton-text width="40%" animated></ion-skeleton-text>
          <ion-skeleton-text width="80%" animated></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="textToSearch.length > 0">
      <ion-item *ngFor="let user of users | filter:textToSearch">
        <ion-label>
          <h3>{{user.name}}</h3>
          <h5>{{user.email}}</h5>
        </ion-label>
      </ion-item>
    </ion-list>
  </div> -->

  <ion-list *ngIf="textToSearch.length > 0">
      <ion-item *ngFor="let product of productsArray | filter:textToSearch">
      <!-- <img class="item-image" src="https://www.niletechinnovations.com/eq8tor{{product.image_url}}"> -->
    <ion-label>
      <h3 (click)="goToDetail(product)">{{product.title}}</h3>
      </ion-label>
  </ion-item>
  </ion-list>
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event,nextUrl)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
