<ion-app>
  <ion-menu contentId="content" side="start" class="menu-background">
    <ion-header >
      <ion-toolbar class="new-background-color">
        <ion-title class="header-title">Eq8tor</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu-background">
      <div *ngFor="let p of pages">
        <ion-menu-toggle >
          <ion-item lines="none" class="menu-item" routerLinkActive="active" (click)="menuClick(p.title)">
            <ion-icon [name]="p.icon" slot="start" class="menu-item-icon"></ion-icon>
            <ion-label class="menu-item-title">
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
         <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.parent-active]="p.open"
          style="font-weight: 500;" detail="false">
          <ion-icon slot="start" name="arrow-forward" *ngIf="!p.open"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
        <ion-list *ngIf="p.open">
          <ion-menu-toggle>
            <ion-item *ngFor="let sub of p.children" class="sub-item" style="padding-left: 20px;
                  font-size: small;" routerLinkActive="active"
              style="--ion-text-color: var(--ion-color-primary);" (click)="menuClick(sub.title)">
              <ion-icon [name]="sub.icon" slot="start"></ion-icon>
              <ion-label>
                {{ sub.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>