
.new-background-color{
    --background: #003a54;
}
.header-title{color:#fff; text-align: center}
.menu-item{--background:#003a54;border-bottom: 1px solid white !important;}
.menu-item-title{color: white;font-weight: 500;}
.menu-item-icon{color: white;height: 25px;}
.menu-background{--background: #003a54;}
.bottom-border { 
    
    --background:#003a54; 
}